div {
  bottom: 0;
}

.container {
  width: 24%;
  background-color: white;
  padding: 28px;
  border: 1px solid white;
  border-radius: 10px;
  height: 60vh;
  display: flex;
}

section {
  margin-top: 70px;
  margin-bottom: 70px;
}

form {
  margin: 0;
}

.txt {
  margin-top: 80px;
}

.btn-login {
  width: 100%;
  justify-content: center;
}
 .btn {
  border-radius: 20px;
  padding: 0.54rem 2.14rem;
 }

.md-form .prefix ~ input, .md-form .prefix ~ textarea {
  width: 100% !important;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: inherit;
    max-width: 100%;
  }
}